OPENAI_API_KEY=your_4UHRUIN_api_key_here
OPENAI_BASE_URL=your_4UHRUIN_base_url_here

PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=medium-rag
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
